@model IEnumerable<WebMinimarke.Models.Inventario>

@{
    ViewData["Title"] = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inventario</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>IdProveedor</th>
            <th>Cantidad Stock</th>
            <th>Fecha Ultima Reposicion</th>
            <th>IdEmpleado Nav</th>
            <th>IdProducto Nav</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaUltimaRepocision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProductoNavigation.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
